# Navigation 
alias home='cd ~'
alias cd..='cd ..'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'

#Listing
alias ls='ls --color=auto'
alias l='ls -AF'
alias la='ls -lh'
alias ll='ls -lAFh'
alias lsa='ls -lah'

alias cat='batcat' #batcat must be installed
alias grep='grep --color=auto'
alias md='mkdir -p'
alias rd='rmdir'
alias da='date "+%Y-%m-%d %A %T %Z"'
alias ping='ping -c 10'
alias cls='clear'
alias bd='cd "$OLDPWD"'
alias f="find . | grep "

# chmod
alias mx='chmod a+x'
alias 000='chmod -R 000'
alias 600='chmod -R 600'
alias 644='chmod -R 644'
alias 666='chmod -R 666'
alias 755='chmod -R 755'
alias 777='chmod -R 777'

# Git aliases
alias ga='git add'
alias gc='git commit'
alias gp='git push'
alias gs='git status'
alias gd='git diff'
alias gl='git log'

# System
alias df='df -h'
alias du='du -h'
alias free='free -h'
alias path='echo -e ${PATH//:/\\n}'
alias update='sudo apt update && sudo apt upgrade'

# Common commands
# alias l='ls -lah'
# alias la='ls -lAh'
# alias ll='ls -lh'
# alias ls='ls --color=tty'
# alias cp='cp -iv'
# alias mv='mv -iv'
# alias rm='rm -iv'
# alias mkdir='mkdir -pv'

# # Count all files (recursively) in the current folder
# alias countfiles="for t in files links directories; do echo \`find . -type \${t:0:1} | wc -l\` \$t; done 2> /dev/null"

# # To see if a command is aliased, a file, or a built-in command
# alias checkcommand="type -t"

# # Alias's to show disk space and space used in a folder
# alias diskspace="du -S | sort -n -r |more"
# alias folders='du -h --max-depth=1'
# alias folderssort='find . -maxdepth 1 -type d -print0 | xargs -0 du -sk | sort -rn'
# alias tree='tree -CAhF --dirsfirst'
# alias treed='tree -CAFd'
# alias mountedinfo='df -hT'